
.content img {
    width: 100%;
    border-radius: 25px;
    display: block;
}

.content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 50px;
}

hr {
    height: 4px;
    width: 100%;
    border: none;
    background-color: white;
    border-radius: 2px;
    margin: 20px 0;
}

.brand-color {
    color: var(--nov);
    display: inline;
}

.projects {
    display: flex;
    justify-content: center;
}

.project {
    width: 75%;
    border: solid #555 2px;
    background-color: #444;
    background-image: url('../images/Carbon.png');
    background-repeat: repeat;
    background-size: 20px;
    border-radius: 10px;
    padding: 20px;
}

.project h2 {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.project p {
    font-size: 18px;
    margin: 0;
    text-align: center;
}

a.inline {
    text-decoration: none;
    color: var(--link);
}