@font-face {
    font-family: "Gabarito";
    src: url("../fonts/gabarito.ttf");
}

:root{
    --background: #71B51B;
    --text: white;
    --glow: white;
    --glowshadow: white;
    --nov: white;
    --carbon: url('../images/Carbon.png');
    --link: #003de6;
}

@media (prefers-color-scheme: dark) {
    :root{
        --background: #1a1a1a;
        --glow: #cbff86;
        --glowshadow: #598d15;
        --link: #00bfff;
    }
}

html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: "Gabarito", sans-serif;
    color: var(--text);
    background-color: var(--background);
    min-height: 100dvh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    border-radius: 0 0 25px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: 2px solid rgba(255, 255, 255, 0.18);
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.25);
}

nav.scrolled {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.18);
}

.links {
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px;
}

.nav-buffer{
    height: 79px;
    border-radius: 0 0 25px 25px;
    background-color: #99e438;
}

nav a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 5px;
}

nav a:hover {
    padding-bottom: 10px;
    text-shadow: 0 5px 5px black;
}

nav img {
    height: 60px;
}

.crown-img {
    width: 18px;
    height: 18px;
}

.footer {
    flex-shrink: 0;
    position: relative;
    margin-top: 25px;
    height: 50px;
    padding: 20px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--background);
}

.footer p {
    text-align: center;
    color: #ddd;
}

.footer a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: normal;
    transition: color 0.25s ease-in-out, text-shadow 0.25s ease-in-out;
}
